/* Footer Styling */
.footer {
    background: #2a2a2a;
    color: #fff;
    text-align: center;
    padding: 10px;
    position:;
    width: 100%;
    bottom: 0;
    transition: background 0.3s ease; /* Smooth transition for background */
    box-sizing: border-box; /* Ensure padding doesn't affect the width */
  }
  
  .footer:hover {
    background: #151515; /* Darken footer background on hover */
  }
  